body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: black;
}
h1 {
    font-size: 12rem;
    /* font-family:custom font */
}

.letter {
    transition: color 1000ms;
}
