body {
    text-align: center;
    color: #333;
    margin-top: 16px;
    margin-bottom: 16px;
}

h1 {
    color: black;
    background-size: 50%;
}

h3 {
    padding: .5%;
}

div {
    padding: .5%;
}

h4 {
    color: #333
}

p {
    color: #333
}

.form {
    background-color: #d1d1d1;
}

.container {
    background-color: #d1d1d1;
}